﻿@model  IEnumerable<permissionViewModel>
@{
    ViewData["Title"] = "Index";
}


<div class="row mb-3">
    <div class="col-md-12">
        <div class="card mb-4">
            <div class="card-header">
                DANH SÁCH QUYỀN
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-12">
                        <a href="/permission/create" class="fa-2x" title="Thêm quyền"><i class="fa fa-plus-square" aria-hidden="true"></i></a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">

                        <table id="example" class="table table-striped table-bordered" style="width:100%">
                            <thead>
                                <tr>
                                    <th>STT</th>
                                    <th>Mã quyền</th>
                                    <th>Tên quyền</th>
                                    <th>Mô tả</th>
                                    <th>Ngày tạo</th>
                                    <th>Người tạo</th>
                                    <th>Ngày chỉnh sửa</th>
                                    <th>Người chỉnh sửa</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @if(Model != null && Model.Any())
                                {
                                    int i = 0;
                                    foreach(var item in Model)
                                    {
                                <tr>
                                    <td>@(++i)</td>
                                    <td>@item.Code</td>
                                    <td>@item.Name</td>
                                    <td>@item.Description</td>
                                    <td>@item.CreatedDate</td>
                                    <td>@item.CreatedBy</td>
                                    <td>@item.CreatedDate</td>
                                    <td>@item.CreatedBy</td>
                                    <td><a href="/permission/update/code=@WebApp.Common.Uitil.Base64Encode(Newtonsoft.Json.JsonConvert.SerializeObject(item))">Sửa</a></td>
                                </tr>
                                    }
                                }
                            </tbody>
                            <tfoot>
                                <tr>
                                    <th>STT</th>
                                    <th>Mã quyền</th>
                                    <th>Tên quyền</th>
                                    <th>Mô tả</th>
                                    <th>Ngày tạo</th>
                                    <th>Người tạo</th>
                                    <th>Ngày chỉnh sửa</th>
                                    <th>Người chỉnh sửa</th>
                                    <th></th>
                                </tr>
                            </tfoot>
                        </table>

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>



@section Scripts{

    <partial name="/Views/Shared/_ListLayout.cshtml" />
    <script>

        $(document).ready(function () {
            $('#example').DataTable();
        });
    </script>
} 