﻿<script>
    window.onload = function () {

        var dataPoints = [];

        var dynamicChartSoBN = new CanvasJS.Chart("dynamicChartSoBN", {
            theme: "light2",
            data: [{
                type: "line",
                dataPoints: dataPoints
            }]
        });
        updateData();
        // Initial Values
        var xValue = 0;
        var yValue = 10;
        var newDataCount = 6;

        function addData(data) {
            if (newDataCount != 1) {
                $.each(data, function (key, value) {
                    dataPoints.push({ x: value[0], y: parseInt(value[1]) });
                    xValue++;
                    yValue = parseInt(value[1]);
                });
            } else {
                //dataPoints.shift();
                dataPoints.push({ x: data[0][0], y: parseInt(data[0][1]) });
                xValue++;
                yValue = parseInt(data[0][1]);
            }

            newDataCount = 1;
            dynamicChartSoBN.render();
            setTimeout(updateData, 500);
        }

        function updateData() {
            $.getJSON("https://canvasjs.com/services/data/datapoints.php?xstart=" + xValue + "&ystart=" + yValue + "&length=" + newDataCount + "type=json&callback=?", addData);
        }

    }
</script>

<div id="dynamicChartSoBN" style="height: 370px; max-width: 920px; margin: 0px auto;"></div>