﻿
<div class="chart-container" width="600" height="400">
    <canvas id="chart9"></canvas>
</div>

<script>

    var barChartDataBHYT = {
        labels: ['Tháng 6', 'Tháng 7', 'Tháng 8', 'Tháng 9', 'Tháng 10', 'Tháng 11', 'Tháng 12'],
        datasets: [{
            label: 'Khám dịch vụ',
            backgroundColor: '#88003f',
            data: [
              parseInt(Math.random() * 100),
              parseInt(Math.random() * 100),
              parseInt(Math.random() * 100),
              parseInt(Math.random() * 100),
              parseInt(Math.random() * 100),
              parseInt(Math.random() * 100),
              parseInt(Math.random() * 100)
            ]
        }, {
            label: 'Khám theo BHYT',
                backgroundColor: '#0492a0',
            data: [
              parseInt(Math.random() * 100),
              parseInt(Math.random() * 100),
              parseInt(Math.random() * 100),
              parseInt(Math.random() * 100),
              parseInt(Math.random() * 100),
              parseInt(Math.random() * 100),
              parseInt(Math.random() * 100)
            ]
        }]

    };

    document.addEventListener('DOMContentLoaded', (event) => {
       
        var chartkhambhyt = document.getElementById('chart9').getContext('2d');
        var myBar123 = new Chart(chartkhambhyt, {
            type: 'bar',
            data: barChartDataBHYT,
            options: {
                title: {
                    display: true,
                    text: 'Chart.js Bar Chart - Stacked'
                },
                tooltips: {
                    mode: 'index',
                    intersect: false
                },
                responsive: true,
                scales: {
                    xAxes: [{
                        stacked: true,
                    }],
                    yAxes: [{
                        stacked: true
                    }]
                }
            }
        });

    });

</script>

