﻿@model ChartJsViewModel

<div class="chart-container" width="600" height="400">
    <canvas id="chart8"></canvas>
</div>

<script>

    var chartData = {
        labels: ['Tháng 6', 'Tháng 7', 'Tháng 8', 'Tháng 9', 'Tháng 10', 'Tháng 11', 'Tháng 12'],
        datasets: [{
            type: 'line',
            label: 'Số ca cấp cứu',
            borderColor: '#88003f',
            borderWidth: 2,
            fill: false,
            data: [
                parseInt(Math.random() * 10),
                parseInt(Math.random() * 10),
                parseInt(Math.random() * 10),
                parseInt(Math.random() * 10),
                parseInt(Math.random() * 10),
                parseInt(Math.random() * 10),
                parseInt(Math.random() * 10)
            ]
        }, {
            type: 'bar',
            label: 'Số ca nhập viện',
                backgroundColor: '#0492a0',
            data: [
                parseInt(Math.random() * 100),
                parseInt(Math.random() * 100),
                parseInt(Math.random() * 100),
                parseInt(Math.random() * 100),
                parseInt(Math.random() * 100),
                parseInt(Math.random() * 100),
                parseInt(Math.random() * 100)
            ],
            borderColor: 'white',
            borderWidth: 2
        }]

    };


    document.addEventListener('DOMContentLoaded', (event) => {
       
        var ctx = document.getElementById('chart8').getContext('2d');
        window.myMixedChart = new Chart(ctx, {
            type: 'bar',
            data: chartData,
            options: {
                responsive: true,
                title: {
                    display: true,
                    text: 'Chart.js Combo Bar Line Chart'
                },
                tooltips: {
                    mode: 'index',
                    intersect: true
                }
            }
        });

    });

</script>

