﻿@model IEnumerable<departmentViewModel>

@{ 
    if(Model != null && Model.Any())
    {
        foreach(var item in Model)
        {
             <option value="@item.id">@item.ten</option>
        }
    }
}
