﻿
<div class="chart-container" width="600" height="400">
    <canvas id="chart2"></canvas>
</div>

<script>
    var MONTHS = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'];
		var config = {
			type: 'line',
			title: 'Chuyên khoa',
			data: {
				labels: ['Tháng 1', 'Tháng 2', 'Tháng 3', 'Tháng 4', 'Tháng 5', 'Tháng 6', 'Tháng 7', 'Tháng 8', 'Tháng 9', 'Tháng 10', 'Tháng 11', 'Tháng 12'],
				datasets: [{
					label: 'Khoa nội',
                    backgroundColor: '#a93232',
                    borderColor: '#a93232',
					data: [
                         parseInt(Math.random() * 1000),
                         parseInt(Math.random() * 1000),
                         parseInt(Math.random() * 1000),
                         parseInt(Math.random() * 1000),
                         parseInt(Math.random() * 1000),
						 parseInt(Math.random() * 1000),
                         parseInt(Math.random() * 1000),
						 parseInt(Math.random() * 1000),
                         parseInt(Math.random() * 1000),
						 parseInt(Math.random() * 1000),
                         parseInt(Math.random() * 1000),
                             parseInt(Math.random() * 1000)
					],
					fill: false,
				}, {
					label: 'Khoa ngoại',
					fill: false,
                        backgroundColor: '#127d47',
                        borderColor: '#127d47',
					data: [
                        parseInt(Math.random() * 1000),
                        parseInt(Math.random() * 1000),
                        parseInt(Math.random() * 1000),
                        parseInt(Math.random() * 1000),
                        parseInt(Math.random() * 1000),
                        parseInt(Math.random() * 1000),
                        parseInt(Math.random() * 1000),
                        parseInt(Math.random() * 1000),
                        parseInt(Math.random() * 1000),
                        parseInt(Math.random() * 1000),
                        parseInt(Math.random() * 1000),
                        parseInt(Math.random() * 1000)
					],
					}]
			},
			options: {
				responsive: true,
				title: {
					display: true
				},
				tooltips: {
					mode: 'index',
					intersect: false,
				},
				hover: {
					mode: 'nearest',
					intersect: true
				},
				scales: {
					xAxes: [{
						display: true,
						scaleLabel: {
							display: true,
							labelString: 'Month'
						}
					}],
					yAxes: [{
						display: true,
						scaleLabel: {
							display: true,
							labelString: 'Số người'
						}
					}]
				}
			}
		};
    document.addEventListener('DOMContentLoaded', (event) => {

        var ctx = document.getElementById('chart2');
        var myChart = new Chart(ctx, config );

	});

</script>

