﻿@model ChartJsViewModel
@{ ViewData["Title"] = "Home Page"; }

@*<div class="text-center">
        <h1 class="display-4">BÁO CÁO THÔNG MINH</h1>
    </div>*@
    <div class="row mb-3">
        <div class="col-md-12">
            <div class="card mb-4">
                <div class="card-header">
                    ĐIỀU KIỆN
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-2">
                            <label class="label-input">
                                Ngày tìm kiếm
                            </label>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <div class='input-group date' id='datetimepicker1'>
                                    <input type="text" id="datetimepicker2" class="form-control" value="@DateTime.Now.ToString("dd/MM/yyyy")" />
                                    <span class="input-group-addon input-icon-custom">
                                        <span class="fa fa-calendar"></span>
                                    </span>
                                </div>
                            </div>
                         
                        </div>
                        <div class="col-md-2">
                            <label class="label-input">
                                Theo khoa
                            </label>
                        </div>
                        <div class="col-md-3">
                            <select id="slKhoa" class="form-control">
                                <option value="-1">Tất cả khoa</option>
                            </select>
                        </div>
                        <div class="col-md-2">
                            <button id="btnApply" class="btn btn-success">Áp dụng</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row mb-3 card-tongquan">
        <div id="card-dangkykham" class="car-item col-md-5ths col-xs-6">
            <div class="circle-tile">
                <a href="#">
                    <div class="circle-tile-heading dark-green">
                        <i class="fa fa-address-book  fa-fw fa-2x" aria-hidden="true"></i>
                    </div>
                </a>
                <div class="circle-tile-content white">
                    <div class="circle-tile-description text-dark-green">
                        Đăng ký khám bệnh
                    </div>
                    <div class="circle-tile-number text-gray border-bottom-1 ">
                        <label class="countnumber">0</label>

                    </div>
                    <div class="row">
                        <div class="col-md-12 bottom-home-card">
                            <span class="fa-pull-left compare-yesterday-percent" name="compare-yesterday-percent" title="So với kỳ trước">0%</span>
                            <a href="/home/detail" class="fa-pull-right">Chi tiết <i class="fa fa-angle-double-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
           
        </div>
        <!-- end col -->
        <div id="card-dakhambenh" class="car-item col-md-5ths col-xs-6">
            <div class="circle-tile">
                <a href="#">
                    <div class="circle-tile-heading dark-green">
                        <i class="fa fa-home fa-fw fa-2x"></i>
                    </div>
                </a>
                <div class="circle-tile-content white">
                    <div class="circle-tile-description text-dark-green">
                        ĐÃ KHÁM BỆNH
                    </div>
                    <div class="circle-tile-number text-gray border-bottom-1 ">
                        <label class="countnumber">0</label>

                    </div>
                    <div class="row">
                        <div class="col-md-12 bottom-home-card">
                            <span class="fa-pull-left compare-yesterday-percent" name="compare-yesterday-percent" title="So với kỳ trước">0%</span> 
                            <a href="/home/detail" class="fa-pull-right">Chi tiết <i class="fa fa-angle-double-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end col -->
        <div id="card-noitru" class="car-item col-md-5ths col-xs-6">
            <div class="circle-tile">
                <a href="#">
                    <div class="circle-tile-heading dark-green">
                        <i class="fa fa-bed fa-fw fa-2x"></i>
                    </div>
                </a>
                <div class="circle-tile-content white">
                    <div class="circle-tile-description text-dark-green">
                        NỘI TRÚ
                    </div>
                    <div class="circle-tile-number text-gray border-bottom-1 ">
                        <label class="countnumber">0</label>

                    </div>
                    <div class="row">
                        <div class="col-md-12 bottom-home-card">
                            <span class="fa-pull-left compare-yesterday-percent" name="compare-yesterday-percent" title="So với kỳ trước">0%</span>
                            <a href="/home/detail" class="fa-pull-right">Chi tiết <i class="fa fa-angle-double-right"></i></a>
                        </div>
                    </div>
                </div>
               
            </div>
           
        </div>
        <!-- end col -->
        <div id="card-ketthucdieutri" class="car-item col-md-5ths col-xs-6">
            <div class="circle-tile">
                <a href="#">
                    <div class="circle-tile-heading dark-green">
                        <i class="fa fa-archive fa-fw fa-2x"></i>
                    </div>
                </a>
                <div class="circle-tile-content white">
                    <div class="circle-tile-description text-dark-green">
                        KẾT THÚC ĐIỀU TRỊ
                    </div>
                    <div class="circle-tile-number text-gray border-bottom-1 ">
                        <label class="countnumber">0</label>

                    </div>
                    <div class="row">
                        <div class="col-md-12 bottom-home-card">
                            <span class="fa-pull-left compare-yesterday-percent" name="compare-yesterday-percent" title="So với kỳ trước">0%</span>
                            <a href="/home/detail" class="fa-pull-right">Chi tiết <i class="fa fa-angle-double-right"></i></a>
                        </div>
                    </div>
                </div>

            </div>

        </div>
        <div id="card-phauthuat" class="car-item col-md-5ths col-xs-6">
            <div class="circle-tile">
                <a href="#">
                    <div class="circle-tile-heading dark-green">
                        <i class="fa fa-user-md fa-fw fa-2x"></i>
                    </div>
                </a>
                <div class="circle-tile-content white">
                    <div class="circle-tile-description text-dark-green">
                        PHẪU THUẬT
                    </div>
                    <div class="circle-tile-number text-gray border-bottom-1 ">
                        <label class="countnumber">0</label>

                    </div>
                    <div class="row">
                        <div class="col-md-12 bottom-home-card">
                            <span class="fa-pull-left compare-yesterday-percent" name="compare-yesterday-percent" title="So với kỳ trước">0%</span>
                            <a href="/home/detail" class="fa-pull-right">Chi tiết <i class="fa fa-angle-double-right"></i></a>
                        </div>
                    </div>
                </div>

            </div>

           

        </div>
    </div>
<!-- end row -->

@*<vc:chartjs></vc:chartjs>*@
<div class="row mb-3">
    <div class="col-md-6">
        <div class="card mb-4">
            <div class="card-header">
                <svg class="svg-inline--fa fa-chart-area fa-w-16 mr-1" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="chart-area" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg=""><path fill="currentColor" d="M500 384c6.6 0 12 5.4 12 12v40c0 6.6-5.4 12-12 12H12c-6.6 0-12-5.4-12-12V76c0-6.6 5.4-12 12-12h40c6.6 0 12 5.4 12 12v308h436zM372.7 159.5L288 216l-85.3-113.7c-5.1-6.8-15.5-6.3-19.9 1L96 248v104h384l-89.9-187.8c-3.2-6.5-11.4-8.7-17.4-4.7z"></path></svg><!-- <i class="fas fa-chart-area mr-1"></i> Font Awesome fontawesome.com -->
                SỐ LƯỢNG BỆNH NHÂN THEO CHUYÊN KHOA
            </div>
            <div class="card-body">
                <vc:chart-js-benh-nhan-theo-chuyen-khoa></vc:chart-js-benh-nhan-theo-chuyen-khoa>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card mb-4">
            <div class="card-header">
                <svg class="svg-inline--fa fa-chart-area fa-w-16 mr-1" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="chart-area" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg=""><path fill="currentColor" d="M500 384c6.6 0 12 5.4 12 12v40c0 6.6-5.4 12-12 12H12c-6.6 0-12-5.4-12-12V76c0-6.6 5.4-12 12-12h40c6.6 0 12 5.4 12 12v308h436zM372.7 159.5L288 216l-85.3-113.7c-5.1-6.8-15.5-6.3-19.9 1L96 248v104h384l-89.9-187.8c-3.2-6.5-11.4-8.7-17.4-4.7z"></path></svg><!-- <i class="fas fa-chart-area mr-1"></i> Font Awesome fontawesome.com -->
                SỐ LƯỢNG BỆNH NHÂN THEO ĐỘ TUỔI
            </div>
            <div class="card-body">
                <div id="chartOldBN" style="height: 300px; width: 100%;"></div>
            </div>
        </div>
    </div>
</div>
<div class="row  mb-3">
    <div class="col-md-6">
        <div class="card mb-4">
            <div class="card-header">
                <svg class="svg-inline--fa fa-chart-area fa-w-16 mr-1" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="chart-area" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg=""><path fill="currentColor" d="M500 384c6.6 0 12 5.4 12 12v40c0 6.6-5.4 12-12 12H12c-6.6 0-12-5.4-12-12V76c0-6.6 5.4-12 12-12h40c6.6 0 12 5.4 12 12v308h436zM372.7 159.5L288 216l-85.3-113.7c-5.1-6.8-15.5-6.3-19.9 1L96 248v104h384l-89.9-187.8c-3.2-6.5-11.4-8.7-17.4-4.7z"></path></svg><!-- <i class="fas fa-chart-area mr-1"></i> Font Awesome fontawesome.com -->
               SỐ LƯỢNG BỆNH NHÂN ĐẾN KHÁM TRONG NGÀY
            </div>
            <div class="card-body">
                <vc:cv-chart-dynamic-benh-nhan-theo-chuyen-khoa-vc></vc:cv-chart-dynamic-benh-nhan-theo-chuyen-khoa-vc>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card mb-4">
            <div class="card-header">
                <svg class="svg-inline--fa fa-chart-area fa-w-16 mr-1" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="chart-area" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg=""><path fill="currentColor" d="M500 384c6.6 0 12 5.4 12 12v40c0 6.6-5.4 12-12 12H12c-6.6 0-12-5.4-12-12V76c0-6.6 5.4-12 12-12h40c6.6 0 12 5.4 12 12v308h436zM372.7 159.5L288 216l-85.3-113.7c-5.1-6.8-15.5-6.3-19.9 1L96 248v104h384l-89.9-187.8c-3.2-6.5-11.4-8.7-17.4-4.7z"></path></svg><!-- <i class="fas fa-chart-area mr-1"></i> Font Awesome fontawesome.com -->
                SỐ LƯỢNG BỆNH NHÂN THEO CHUYÊN KHOA TRONG TUẦN HIỆN TẠI
            </div>
            <div class="card-body">
                <vc:chartjs></vc:chartjs>
            </div>
        </div>

    </div>
</div>

<div class="row mb-3">
    <div class="col-md-12">
        <div class="card mb-4">
            <div class="card-header">
                <svg class="svg-inline--fa fa-chart-area fa-w-16 mr-1" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="chart-area" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg=""><path fill="currentColor" d="M500 384c6.6 0 12 5.4 12 12v40c0 6.6-5.4 12-12 12H12c-6.6 0-12-5.4-12-12V76c0-6.6 5.4-12 12-12h40c6.6 0 12 5.4 12 12v308h436zM372.7 159.5L288 216l-85.3-113.7c-5.1-6.8-15.5-6.3-19.9 1L96 248v104h384l-89.9-187.8c-3.2-6.5-11.4-8.7-17.4-4.7z"></path></svg><!-- <i class="fas fa-chart-area mr-1"></i> Font Awesome fontawesome.com -->
                ĐỐI TƯỢNG BỆNH NHÂN THEO KHÁM BỆNH TRONG 5 NGÀY GẦN NHẤT
            </div>
            <div class="card-body">
                <vc:chart-trang-thai-benh-nhan-theo-chuyen-khoa></vc:chart-trang-thai-benh-nhan-theo-chuyen-khoa>
               
            </div>
        </div>
    </div>

</div>

<div class="row mb-3">
    <div class="col-md-6">
        <div class="card mb-4">
            <div class="card-header">
                <svg class="svg-inline--fa fa-chart-area fa-w-16 mr-1" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="chart-area" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg=""><path fill="currentColor" d="M500 384c6.6 0 12 5.4 12 12v40c0 6.6-5.4 12-12 12H12c-6.6 0-12-5.4-12-12V76c0-6.6 5.4-12 12-12h40c6.6 0 12 5.4 12 12v308h436zM372.7 159.5L288 216l-85.3-113.7c-5.1-6.8-15.5-6.3-19.9 1L96 248v104h384l-89.9-187.8c-3.2-6.5-11.4-8.7-17.4-4.7z"></path></svg><!-- <i class="fas fa-chart-area mr-1"></i> Font Awesome fontawesome.com -->
                SỐ CA CẤP CỨU
            </div>
            <div class="card-body">
                <vc:chart-view-nhap-vien-cap-cuu></vc:chart-view-nhap-vien-cap-cuu>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card mb-4">
            <div class="card-header">
                <svg class="svg-inline--fa fa-chart-area fa-w-16 mr-1" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="chart-area" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg=""><path fill="currentColor" d="M500 384c6.6 0 12 5.4 12 12v40c0 6.6-5.4 12-12 12H12c-6.6 0-12-5.4-12-12V76c0-6.6 5.4-12 12-12h40c6.6 0 12 5.4 12 12v308h436zM372.7 159.5L288 216l-85.3-113.7c-5.1-6.8-15.5-6.3-19.9 1L96 248v104h384l-89.9-187.8c-3.2-6.5-11.4-8.7-17.4-4.7z"></path></svg><!-- <i class="fas fa-chart-area mr-1"></i> Font Awesome fontawesome.com -->
                KHÁM CHỮA BỆNH
            </div>
            <div class="card-body">
                <vc:chart-view-kham-chua-benh-theo-bao-hiem></vc:chart-view-kham-chua-benh-theo-bao-hiem>
            </div>
        </div>

    </div>
</div>

@section Scripts{ 
    <script>
        $(document).ready(function () {
            $.datetimepicker.setLocale('vi');
            $('#datetimepicker2').datetimepicker({
                lang: 'vi',
                timepicker: false,
                format: 'd/m/Y',
                formatDate: 'Y/m/d'
            });
            callAjax();
            loadOptionPhongBan();
        });

        $('#btnApply').click(function () {
            callAjax();
        })

        function callAjax() {
            var searchDate = $('#datetimepicker2').val();
            var mpk = $('#slKhoa option:selected').val();
            $.ajax('/chart/GetChartOverview',
                {
                    data: {
                        searchDate: searchDate,
                        mpk: mpk
                    },
                    type: 'POST',  // http method
                    success: function (data, status, xhr) {   // success callback function
                        var dangkykham = $('#card-dangkykham');
                        var dakhambenh = $('#card-dakhambenh');
                        var noitru = $('#card-noitru');
                        var ketthucdieutri = $('#card-ketthucdieutri');
                        var phauthuat = $('#card-phauthuat');

                        if (data != null && data.results.length > 0) {
                            dangkykham.find('.countnumber').text(addCommas(data.results[0].coL1));
                            dangkykham.find('[name=compare-yesterday-percent]').text(data.results[0].coL1_PERCENT + '%');

                            dangkykham.find('[name=compare-yesterday-percent]').addClass(addClassStatus(data.results[0].coL1_PERCENT));


                            dakhambenh.find('.countnumber').text(addCommas(data.results[0].coL2));
                            dakhambenh.find('[name=compare-yesterday-percent]').text(data.results[0].coL2_PERCENT + '%');
                            dakhambenh.find('[name=compare-yesterday-percent]').addClass(addClassStatus(data.results[0].coL2_PERCENT));

                            noitru.find('.countnumber').text(addCommas(data.results[0].coL3));
                            noitru.find('[name=compare-yesterday-percent]').text(data.results[0].coL3_PERCENT + '%');
                            noitru.find('[name=compare-yesterday-percent]').addClass(addClassStatus(data.results[0].coL3_PERCENT));

                            ketthucdieutri.find('.countnumber').text(addCommas(data.results[0].coL4));
                            ketthucdieutri.find('[name=compare-yesterday-percent]').text(data.results[0].coL4_PERCENT + '%');
                            ketthucdieutri.find('[name=compare-yesterday-percent]').addClass(addClassStatus(data.results[0].coL4_PERCENT));

                            phauthuat.find('.countnumber').text(addCommas(data.results[0].coL5));
                            phauthuat.find('[name=compare-yesterday-percent]').text(data.results[0].coL5_PERCENT + '%');
                            phauthuat.find('[name=compare-yesterday-percent]').addClass(addClassStatus(data.results[0].coL5_PERCENT));
                        }
                        else {
                            $('.countnumber').text(0);
                            $('.compare-yesterday-percent').text('0%');
                        }
                       
                    },
                    error: function (jqXhr, textStatus, errorMessage) { // error callback 
                        $('p').append('Error: ' + errorMessage);
                    }
                });
        }

        function loadOptionPhongBan() {
            $.ajax('/Department/get_btdkp',
                {
                    type: 'GET',  // http method
                    success: function (data, status, xhr) {   // success callback function
                        if (data != null && data.results.length > 0) {
                            $slPhongBan = $('#slKhoa');
                            var strHtml = ' <option value="-1">Tất cả khoa</option>';
                            $.each(data.results, function (idx, item) {
                                strHtml += ' <option value="' + item.ma + '">' + item.ten + '</option>';
                            });
                            $slPhongBan.html(strHtml);
                        }
                    },
                    error: function (jqXhr, textStatus, errorMessage) { // error callback 
                        $('p').append('Error: ' + errorMessage);
                    }
                });
        }
        function addClassStatus(number) {
            var className = '';
            if (number <0) {
                className = "badge-danger";
            }
            else if (number > 0) {
                className = "badge-custom-up";
            }
            else {
                className = "badge-notchange";
            }
            return className;
        }

        function addCommas(nStr) {
            nStr += '';
            var x = nStr.split('.');
            var x1 = x[0];
            var x2 = x.length > 1 ? '.' + x[1] : '';
            var rgx = /(\d+)(\d{3})/;
            while (rgx.test(x1)) {
                x1 = x1.replace(rgx, '$1' + ',' + '$2');
            }
            return x1 + x2;
        }

        var chartOldBN = new CanvasJS.Chart("chartOldBN", {
            animationEnabled: true,
            axisY: {
                title: "Medals",
                includeZero: true
            },
            legend: {
                cursor: "pointer",
                itemclick: toggleDataSeries
            },
            toolTip: {
                shared: true,
                content: toolTipFormatter
            },
            data: [{
                type: "bar",
                showInLegend: true,
                name: "KCB Bảo hiểm",
                color: "#246B22",
                dataPoints: [
                    { y: 321, label: "20 - 40 tuổi" },
                    { y: 765, label: "40 - 60 tuổi" },
                    { y: 545, label: "60 - 80 tuổi" },
                    { y: 12, label: "Trên 80 tuổi" },
                    { y: 423, label: "Dưới 20 tuổi" }
                ]
            },
            {
                type: "bar",
                showInLegend: true,
                name: "KCB Dịch vụ",
                color: "#4FB44B",
                dataPoints: [
                    { y: 213, label: "20 - 40 tuổi" },
                    { y: 543, label: "40 - 60 tuổi" },
                    { y: 655, label: "60 - 80 tuổi" },
                    { y: 433, label: "Trên 80 tuổi" },
                    { y: 123, label: "Dưới 20 tuổi" }
                ]
            },
            {
                type: "bar",
                showInLegend: true,
                name: "khám sức khỏe",
                color: "#A4C5A3",
                dataPoints: [
                    { y: 455, label: "20 - 40 tuổi" },
                    { y: 435, label: "40 - 60 tuổi" },
                    { y: 332, label: "60 - 80 tuổi" },
                    { y: 233, label: "Trên 80 tuổi" },
                    { y: 431, label: "Dưới 20 tuổi" }
                ]
            }]
        });
        chartOldBN.render();

        function toolTipFormatter(e) {
            var str = "";
            var total = 0;
            var str3;
            var str2;
            for (var i = 0; i < e.entries.length; i++) {
                var str1 = "<span style= \"color:" + e.entries[i].dataSeries.color + "\">" + e.entries[i].dataSeries.name + "</span>: <strong>" + e.entries[i].dataPoint.y + "</strong> <br/>";
                total = e.entries[i].dataPoint.y + total;
                str = str.concat(str1);
            }
            str2 = "<strong>" + e.entries[0].dataPoint.label + "</strong> <br/>";
            str3 = "<span style = \"color:Tomato\">Total: </span><strong>" + total + "</strong><br/>";
            return (str2.concat(str)).concat(str3);
        }

        function toggleDataSeries(e) {
            if (typeof (e.dataSeries.visible) === "undefined" || e.dataSeries.visible) {
                e.dataSeries.visible = false;
            }
            else {
                e.dataSeries.visible = true;
            }
            chartOldBN.render();
        }
       
      
    </script>
}