﻿
@{ ViewData["Title"] = "Thay đổi mật khẩu"; }



<div class="row mb-3">
    <div class="col-md-12">
        <div class="card mb-4">
            <div class="card-header">
                THAY ĐỔI MẬT KHẨU
            </div>
            <div class="card-body">
                <div class="row">
                 
                    <div class="col-md-12">
                        <form method="post" class="needs-validation" novalidate>

                            <div class="col-md-6 offset-3">
                                <div class="form-group input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"> <i class="fa fa-key" aria-hidden="true"></i></span>
                                    </div>
                                    <input name="OldPassword" class="form-control" placeholder="Mật khẩu cũ" type="password" required>
                                    <a  name="btnShowPassWord"  href="javascript:void(0);"  class="m-1"><i class="fa fa-eye-slash" aria-hidden="true"></i></a>
                                    <div class="invalid-feedback">Vui lòng nhập mật khẩu cũ.</div>
                                </div> <!-- form-group// -->
                                <div class="form-group input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"> <i class="fa fa-key" aria-hidden="true"></i> </span>
                                    </div>
                                    <input name="NewPassword" class="form-control" required placeholder="Mật khẩu mới" type="password">
                                <a name="btnShowPassWord"  href="javascript:void(0);"  class="m-1"><i class="fa fa-eye-slash" aria-hidden="true"></i></a>
                                    <div class="invalid-feedback">Vui lòng nhập mật khẩu mới.</div>
                                </div> <!-- form-group// -->
                                <div class="form-group input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"> <i class="fa fa-retweet" aria-hidden="true"></i></span>
                                    </div>
                                    <input name="Email" class="form-control" required placeholder="Xác nhận mật khẩu mới" type="password">
                                    <a  name="btnShowPassWord"  href="javascript:void(0);"  class="m-1"><i class="fa fa-eye-slash" aria-hidden="true"></i></a>
                                    <div class="invalid-feedback">Vui lòng nhập xác nhận.</div>
                                </div> <!-- form-group// -->

                                <div class="form-group fa-pull-right">
                                    <button type="submit" class="btn btn-primary"> Đổi mật khẩu </button>
                                </div> <!-- form-group// -->
                            </div>
                           
                            
                        </form>


                    </div>
             
                </div>
            </div>
        </div>
    </div>
</div>

<!--container end.//-->

@section Scripts {
    <script>
        $(document).ready(function () {

            var readURL = function (input) {
                if (input.files && input.files[0]) {
                    var reader = new FileReader();

                    reader.onload = function (e) {
                        $('.profile-pic').attr('src', e.target.result);
                    }

                    reader.readAsDataURL(input.files[0]);
                }
            }

            $(".file-upload").on('change', function () {
                readURL(this);
            });

            $(".upload-button").on('click', function () {
                $(".file-upload").click();
            });
        });
        var user = {
            init: function () {
                user.validate();
                $('form').on('click', 'a[name=btnShowPassWord]', this.showPassword);
            },
            validate: function () {
                (function () {
                    'use strict';
                    window.addEventListener('load', function () {
                        // Fetch all the forms we want to apply custom Bootstrap validation styles to
                        var forms = document.getElementsByClassName('needs-validation');
                        // Loop over them and prevent submission
                        var validation = Array.prototype.filter.call(forms, function (form) {
                            form.addEventListener('submit', function (event) {
                                if (form.checkValidity() === false) {
                                    event.stopPropagation();
                                }
                                form.classList.add('was-validated');
                                if (form.checkValidity() === true) {
                                    var Username = $('input[name=Username]').val();
                                    var Fullname = $('input[name=Fullname]').val();
                                    var Email = $('input[name=Email]').val();
                                    var DepartmentId = $('select[name=DepartmentId] option:selected').val();
                                    var Gender = $('select[name=Gender] option:selected').val();
                                    var RoleIds = [];
                                    $('input[name=role-id]:checked').each(function () {
                                        RoleIds.push($(this).val())
                                    })

                                    var data = {
                                        Username: Username,
                                        Fullname: Fullname,
                                        Email: Email,
                                        DepartmentId: DepartmentId,
                                        Gender: Gender,
                                        RoleIds: RoleIds
                                    }
                                    $.ajax('/User/InsertUser',
                                        {
                                            type: 'POST',  // http method
                                            data: data,
                                            success: function (data, status, xhr) {   // success callback function
                                                if (data != null && data.success) {
                                                    window.notification.success(window.label.addsuccess);
                                                    $('form').addClass('hidden');
                                                    $success = $('.show-Success');
                                                    $success.find('#showUser').text($('input[name=Username]').val());
                                                    $success.find('#showPassword').text(data.metadata.Message);
                                                    
                                                    $success.removeClass('hidden');
                                                }
                                                else {
                                                    window.notification.error(window.label.error);
                                                }
                                            },
                                            error: function (jqXhr, textStatus, errorMessage) { // error callback
                                                window.notification.error(errorMessage);
                                            }
                                        });
                                }
                                event.preventDefault();
                                return false;
                            }, false);
                        });
                    }, false);
                })();
            },
            showPassword: function () {
                $input = $(this).closest('.form-group').find('input');
                var type = $input.attr('type');
                if (type== 'text') {
                    $input.prop('type', 'password');
                }
                if (type == 'password') {
                    $input.prop('type', 'text');
                }
            }
        }
        user.init();
    </script>
}