﻿@model userViewModel
@{ ViewData["Title"] = "Tạo User"; }



<div class="row mb-3">
    <div class="col-md-12">
        <div class="card mb-4">
            <div class="card-header">
                TẠO MỚI NGƯỜI DÙNG
            </div>
            <div class="card-body">
                <div class="row">
                    @*<div class="col-md-4">
                            <div class="avatar-wrapper">
                                <img class="profile-pic" src="" />
                                <div class="upload-button">
                                    <i class="fa fa-arrow-circle-up" aria-hidden="true"></i>
                                </div>
                                <input class="file-upload" type="file" accept="image/*" />
                            </div>
                        </div>*@
                    <div class="col-md-12">
                        <form method="post" class="needs-validation" novalidate>

                            <div class="col-md-6 offset-3">
                                <div class="form-group input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"> <i class="fa fa-user" aria-hidden="true"></i></span>
                                    </div>
                                    <input name="Username" value="@Model.Username" @(!string.IsNullOrEmpty(Model.Username) ? "disabled" : "") class="form-control" placeholder="Tên đăng nhập" type="text" required>
                                    <div class="invalid-feedback">Vui lòng nhập tên đăng nhập.</div>
                                </div> <!-- form-group// -->
                                <div class="form-group input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"> <i class="fa fa-address-card" aria-hidden="true"></i> </span>
                                    </div>
                                    <input name="Fullname" value="@Model.Fullname" class="form-control" required placeholder="Họ và tên" type="text">
                                    <div class="invalid-feedback">Vui lòng nhập họ tên.</div>
                                </div> <!-- form-group// -->
                                <div class="form-group input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"> <i class="fa fa-envelope" aria-hidden="true"></i></span>
                                    </div>
                                    <input name="Email" value="@Model.Email" class="form-control" required placeholder="Email" type="text">
                                    <div class="invalid-feedback">Vui lòng nhập email.</div>
                                </div> <!-- form-group// -->
                                <!--<div class="form-group input-group">
        <div class="input-group-prepend">
            <span class="input-group-text"> <i class="fa fa-phone"></i> </span>
        </div>
        <select name="Fullname" class="custom-select" style="max-width: 120px;">
            <option selected="">+84</option>
            <option value="1">+85</option>
        </select>
        <input name="phoneNumber" class="form-control" required placeholder="Số điện thoại" type="number" data-bind="value:replyNumber">
        <div class="invalid-feedback">Vui lòng nhập số điện thoại.</div>
    </div>-->
                                <!-- form-group// -->

                                <div class="form-group input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"> <i class="fa fa-genderless" aria-hidden="true"></i></span>
                                    </div>
                                    <select name="Gender" class="form-control" required>
                                        <option value=""> -- Giới tính --</option>
                                        <vc:gender-list select="@Model.Gender"></vc:gender-list>
                                    </select>
                                </div> <!-- form-group end.// -->
                                <div class="form-group input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"> <i class="fa fa-building"></i> </span>
                                    </div>
                                    <select name="DepartmentId" class="form-control" required>
                                        <option value=""> -- Chọn phòng ban --</option>
                                        <vc:department-list department-select="0"></vc:department-list>
                                    </select>
                                </div> <!-- form-group end.// -->

                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <b>Chọn vai trò</b>
                                </div>
                            </div>
                            <div class="table-list">
                                <div class="row todo-list">
                               <vc:role-list></vc:role-list>
                                </div>
                            </div> <!-- form-group end.// -->

                            <div class="form-group fa-pull-right">
                                <button type="submit" class="btn btn-primary"> @(!string.IsNullOrEmpty(Model.Username) ? "Cập nhật" : "Thêm mới")  </button>
                            </div> <!-- form-group// -->
                        </form>


                    </div>
                    <div class="show-Success container hidden">
                        <div class="col-md-6 offset-3">
                            <div class="row text-center form-group">
                                <div class="col-md-12">
                                    <h4 class="text-center text-blue">ĐĂNG KÝ THÀNH CÔNG</h4>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">Tên đăng nhập:</div>
                                <div class="col-md-8">
                                    <label id="showUser"></label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">Mật khẩu:</div>
                                <div class="col-md-8">
                                    <b id="showPassword"></b>
                                </div>
                            </div>
                            <div class="row  form-group">
                                <i>(*)  Người dùng vui lòng đăng nhập và đổi mật khẩu trong vòng 24h</i>
                            </div>
                            <div class="row text-center">
                                <div class="col-md-12">
                                    <a class="text-center" href="">Trở về danh sách ...</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--container end.//-->

@section Scripts {
    <script>
        $(document).ready(function () {

            var readURL = function (input) {
                if (input.files && input.files[0]) {
                    var reader = new FileReader();

                    reader.onload = function (e) {
                        $('.profile-pic').attr('src', e.target.result);
                    }

                    reader.readAsDataURL(input.files[0]);
                }
            }

            $(".file-upload").on('change', function () {
                readURL(this);
            });

            $(".upload-button").on('click', function () {
                $(".file-upload").click();
            });
        });
        var user = {
            init: function () {
                user.validate();
            },
            validate: function () {
                (function () {
                    'use strict';
                    window.addEventListener('load', function () {
                        // Fetch all the forms we want to apply custom Bootstrap validation styles to
                        var forms = document.getElementsByClassName('needs-validation');
                        // Loop over them and prevent submission
                        var validation = Array.prototype.filter.call(forms, function (form) {
                            form.addEventListener('submit', function (event) {
                                if (form.checkValidity() === false) {
                                    event.stopPropagation();
                                }
                                form.classList.add('was-validated');
                                if (form.checkValidity() === true) {
                                    var Username = $('input[name=Username]').val();
                                    var Fullname = $('input[name=Fullname]').val();
                                    var Email = $('input[name=Email]').val();
                                    var DepartmentId = $('select[name=DepartmentId] option:selected').val();
                                    var Gender = $('select[name=Gender] option:selected').val();
                                    var RoleIds = [];
                                    $('input[name=role-id]:checked').each(function () {
                                        RoleIds.push($(this).val())
                                    })

                                    var data = {
                                        Username: Username,
                                        Fullname: Fullname,
                                        Email: Email,
                                        DepartmentId: DepartmentId,
                                        Gender: Gender,
                                        RoleIds: RoleIds
                                    }
                                    $.ajax('/User/InsertUser',
                                        {
                                            type: 'POST',  // http method
                                            data: data,
                                            success: function (data, status, xhr) {   // success callback function
                                                if (data != null && data.success) {
                                                    window.notification.success(window.label.addsuccess);
                                                    $('form').addClass('hidden');
                                                    $success = $('.show-Success');
                                                    $success.find('#showUser').text($('input[name=Username]').val());
                                                    $success.find('#showPassword').text(data.metadata.Message);
                                                    
                                                    $success.removeClass('hidden');
                                                }
                                                else {
                                                    window.notification.error(window.label.error);
                                                }
                                            },
                                            error: function (jqXhr, textStatus, errorMessage) { // error callback
                                                window.notification.error(errorMessage);
                                            }
                                        });
                                }
                                event.preventDefault();
                                return false;
                            }, false);
                        });
                    }, false);
                })();
            },
            insert: function () {

            }
        }
        user.init();
    </script>
}