﻿@model IEnumerable<userViewModel>
@{
    ViewData["Title"] = "Index";
}

<div class="row mb-3">
    <div class="col-md-12">
        <div class="card mb-4">
            <div class="card-header">
                DANH SÁCH NGƯỜI DÙNG
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-12">
                        <a href="/User/Create" title="Thêm mới người dùng"><i class="fa fa-plus-square fa-2x" aria-hidden="true"></i></a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">

                        <table id="tbList" class="table table-striped table-bordered" style="width:100%">
                            <thead>
                                <tr>
                                    <th>STT</th>
                                    <th>Tài khoản</th>
                                    <th>Họ và tên</th>
                                    <th>Số điện thoại</th>
                                    <th>Email</th>
                                    <th>Phòng ban</th>
                                    <th>Địa chỉ</th>
                                    <th>Kích hoạt</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @if(Model != null && Model.Any())
                                {
                                    int i = 1;
                                    foreach(var item in Model)
                                    {
                                <tr>
                                    <td>@i</td>
                                    <td><b>@item.Username</b></td>
                                    <td>@item.Fullname</td>
                                    <td>@item.Phone</td>
                                    <td>@item.Email</td>
                                    <td>@item.DepartmentName</td>
                                    <td>@item.Address</td>
                                    <td class="text-center">@(item.IsActive ? Html.Raw("<i class='fa fa-check-circle' aria-hidden='true'></i>") : Html.Raw(""))</td>
                                    <td><a href="/user/update?id=@item.id">Sửa</a></td>
                                </tr>
                                        i++;
                                    }
                                }
                            </tbody>
                            <tfoot>
                                <tr>
                                    <th>STT</th>
                                    <th>Tài khoản</th>
                                    <th>Họ và tên</th>
                                    <th>Số điện thoại</th>
                                    <th>Email</th>
                                    <th>Phòng ban</th>
                                    <th>Địa chỉ</th>
                                    <th>Kích hoạt</th>
                                    <th></th>
                                </tr>
                            </tfoot>
                        </table>

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>



@section Scripts{

    <partial name="/Views/Shared/_ListLayout.cshtml" />
    <script>

        $(document).ready(function () {
            $('#tbList').DataTable();
           
        });
    </script>
} 