﻿<style>
    .col-md-5ths col-xs-6 {
        max-width: 20%;
    }

    .div-comment {
        width: 40px;
        height: 20px;
    }

    .dangkykham-color {
        background: #007716;
    }

    .dangkham-color {
        background: #19842d;
    }

    .chokham-color {
        background: #409950;
    }

    .dakham-color {
        background: #85be90;
    }
</style>
<div class="chart-container">
    <div class="row">
        <div class="col-md-5ths col-xs-6">
            <div id="chartngay5" style="height: 250px; width: 100%;"></div>
            <div class="row">
                <div class="col-md-12  text-center">
                    <label>Ngày: @DateTime.Now.AddDays(-4).ToString("dd/MM")</label>
                </div>
            </div>
        </div>
        <div class="col-md-5ths col-xs-6">
            <div id="chartngay4" style="height: 250px; width: 100%;"></div>
            <div class="row">
                <div class="col-md-12  text-center">
                    <label>Ngày: @DateTime.Now.AddDays(-3).ToString("dd/MM")</label>
                </div>
            </div>
        </div>
        <div class="col-md-5ths col-xs-6">
            <div id="chartngay3" style="height: 250px; width: 100%;"></div>
            <div class="row">
                <div class="col-md-12  text-center">
                    <label>Ngày: @DateTime.Now.AddDays(-2).ToString("dd/MM")</label>
                </div>
            </div>
        </div>
        <div class="col-md-5ths col-xs-6">
            <div id="chartngay2" style="height: 250px; width: 100%;"></div>
            <div class="row">
                <div class="col-md-12  text-center">
                    <label>Ngày: @DateTime.Now.AddDays(-1).ToString("dd/MM")</label>
                </div>
            </div>
        </div>
        <div class="col-md-5ths col-xs-6">
            <div id="chartngay1" style="height: 250px; width: 100%;"></div>
            <div class="row">
                <div class="col-md-12  text-center">
                    <label>Ngày: @DateTime.Now.ToString("dd/MM")</label>
                </div>
            </div>
        </div>
    </div>
   <div class="row">
      <div class="col-md-12">
          <label></label>
      </div>
   </div>
</div>
<script>
    document.addEventListener('DOMContentLoaded', (event) => {

        var data = []; 
        var list1 = { 'data': [{ y: 54 }, { y: 32 }, { y: 41 }, { y: 12 }, { y: 65 }, { y: 12 }, { y: 43 }], 'total': 259 };
        var list2 = { 'data': [{ y: 71 }, { y: 59 }, { y: 5 }, { y: 49 }, { y: 24 }, { y: 7 }, { y: 64 }], 'total': 279 };
        var list3 = { 'data': [{ y: 94 }, { y: 33 }, { y: 54 }, { y: 60 }, { y: 26 }, { y: 81 }, { y: 10 }], 'total': 358 };
        var list4 = { 'data': [{ y: 32 }, { y: 70 }, { y: 23 }, { y: 28 }, { y: 29 }, { y: 17 }, { y: 99 }], 'total': 298 };
        var list5 = { 'data': [{ y: 2 }, { y: 64 }, { y: 8 }, { y: 91 }, { y: 72 }, { y: 2 }, { y: 100 }], 'total': 339 };

        data.push(list1);
        data.push(list2);
        data.push(list3);
        data.push(list4);
        data.push(list5);
        CanvasJS.addColorSet("customColorSet1",
            [//colorSet Array
               "#6bb158",
               "#abc4a6",
               "#5b8851",
               "#dee8df",
               "#e76f61",
               "#42ca5b",
               "#919291"
            ]);
        $.each(data, function (idx, item) {
            var chartngay5 = new CanvasJS.Chart("chartngay" + Number(idx + 1), {
                title: {
                    text: data[idx].total,
                    verticalAlign: "center",
                    dockInsidePlotArea: true
                },
                colorSet: "customColorSet1",
                legend: {
                    maxWidth: 100,
                    horizontalAlign: "right"
                },
                data: [{
                    radius: "100%",
                    innerRadius: "90%",  //change the innerRadius here.
                    type: "doughnut",
                    dataPoints: data[idx].data
                }]
            });
            chartngay5.render();
        });

       

    });

   
</script>


@*,
    labels: [
        'Đã đăng ký',
        'Đang khám',
        'Chờ khám',
        'Đã khám'
    ]*@