﻿@model IEnumerable<permissionViewModel>

@{
    List<string> selected = ViewBag.Selected != null ? (List<string>)ViewBag.Selected : new List<string>();
    if (Model != null && Model.Any())
    {
        foreach (var item in Model)
        {
            string _check = selected != null && selected.Any(x => x.ToUpper().Trim().Equals(item.Code.ToUpper().Trim())) ? "checked" : "";
            <div class="col-md-3">
                <div class="todo-item">
                    <div class="checker"><span class=""><input @_check name="permission-Code" type="checkbox" value="@item.id"></span></div>
                    <span>@item.Name</span>
                    <a href="javascript:void(0);" class="float-right remove-todo-item"><i class="icon-close"></i></a>
                </div>
            </div>

        }
    }
}
