﻿@model ChartJsViewModel

<div class="chart-container" width="600" height="400">
    <canvas id="chart3"></canvas>
</div>

<script>


    var barChartData = {
        labels: ['Thứ 2', 'Thứ 3', 'Thứ 4', 'Thứ 5', 'Thứ 6', 'Thứ 7', 'Chủ nhật'],
        datasets: [{
            label: 'Ck Nội',
            backgroundColor: '#6bb158',
            borderColor: '#6bb158',
            borderWidth: 1,
            data: [
                Math.random() * 100,
                Math.random() * 100,
                Math.random() * 100,
                Math.random() * 100,
                Math.random() * 100,
                Math.random() * 100,
                Math.random() * 100
            ]
        }, {
            label: 'Ck Ngoại',
                backgroundColor: '#abc4a6',
                borderColor: '#abc4a6',
            borderWidth: 1,
            data: [
                Math.random() * 100,
                Math.random() * 100,
                Math.random() * 100,
                Math.random() * 100,
                Math.random() * 100,
                Math.random() * 100,
                Math.random() * 100
            ]
            },
            {
                label: 'Ck Ung bướu',
                backgroundColor: '#5b8851',
                borderColor: '#5b8851',
                borderWidth: 1,
                data: [
                    Math.random() * 100,
                    Math.random() * 100,
                    Math.random() * 100,
                    Math.random() * 100,
                    Math.random() * 100,
                    Math.random() * 100,
                    Math.random() * 100
                ]
            },
            {
                label: 'Ck Y học',
                backgroundColor: '#dee8df',
                borderColor: '#dee8df',
                borderWidth: 1,
                data: [
                    Math.random() * 100,
                    Math.random() * 100,
                    Math.random() * 100,
                    Math.random() * 100,
                    Math.random() * 100,
                    Math.random() * 100,
                    Math.random() * 100
                ]
            },
            {
                label: 'Ck Khácc',
                backgroundColor: '#e76f61',
                borderColor: '#e76f61',
                borderWidth: 1,
                data: [
                    Math.random() * 100,
                    Math.random() * 100,
                    Math.random() * 100,
                    Math.random() * 100,
                    Math.random() * 100,
                    Math.random() * 100,
                    Math.random() * 100
                ]
            }
        ]


    };


    document.addEventListener('DOMContentLoaded', (event) => {
       
        var ctx = document.getElementById('chart3').getContext('2d');
        var chbarChartData = new Chart(ctx, {
            type: 'bar',
            data: barChartData,
            options: {
                responsive: true,
                legend: {
                    position: 'top',
                },
                title: {
                    display: true,
                    text: ''
                }
            }
        });

    });

</script>

