﻿@model IEnumerable<roleViewModel>

@{
    if (Model != null && Model.Any())
    {
        foreach (var item in Model)
        {
            <div class="col-md-3">
                <div class="todo-item">
                    <div class="checker"><span class=""><input name="role-id" type="checkbox" value="@item.Id"></span></div>
                    <span>@item.Name</span>
                    <a href="javascript:void(0);" class="float-right remove-todo-item"><i class="icon-close"></i></a>
                </div>
            </div>

        }
    }
}
